{% extends "base.html" %}
{% load static %}


{% block content %}
<div class='container mt-5'>
    <div class='card '>
        <div class='card-body'>
            <form method="post" action="{% url 'confirmotp'%}">
                {% csrf_token %} 
                <div class="form-group m-2">
                    <label for="otp" class="m-2">OTP</label>
                    <input id="otp" type="text" class="m-2 ms-3 data" name="otp"  maxlength="8" size="8" required autofocus>
                </div>
                <input type="submit" class='btn btn-primary'>
            </form>
        </div>
    </div>
</div>    
{% endblock content %}