{% extends "base.html" %}
{% load static %}



{% block content_css %}
    <style>
        .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.form-control{
    background-color:#f0f2fa !important;
    border-color: #035397;
}
.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 20%; */
}
.data{
  height: 100% !important;
  background-image: linear-gradient(#00bbff, #035397);
  display: flex;
  width:100% !important;
  max-height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.dot {
  height: 68px;
  width: 68px;
  /* background-color: #ffffff;
   */
   background: yellowgreen;
  display:inline-block;
  /* border-radius: 50%; */
  /* display: inline-block; */
}

figure{
    display:block;
    width:65px;
    height: 65px;
    border-radius: 50px;
    font-size: 25px;
    text-align: center;
    /* margin-right: 10px; */
    background: #fff;
    line-height: 1.7em;
}
.second_card{
    display:none;
}

figure img{
   display:inline-block;
   width: 35px;
   height: auto;
   margin-top: 15px;
}
.css{
    background: url('/static/img/MicrosoftTeams-image.png') no-repeat,url('/static/img/MicrosoftTeams-image.png') no-repeat;
    background-position: left top,right bottom;
}
.css_big{
    background: url('/static/img/MicrosoftTeams-image\ \(1\).png') no-repeat,url('/static/img/MicrosoftTeams-image.png') no-repeat;
    background-position: left top,right bottom;
    background-size: 70%;
    ba
}
/* .css_right{
    background: url('/static/img/MicrosoftTeams-image.png') no-repeat;
    background-position: right,bottom;
} */
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  /* min-height: 100vh; These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.required-field::after {
    content: "*";
    color: red;
}
.vertical {
            border-left: 2px solid white;
            height: 70px;
            margin-top: 0%;
            position:absolute;

            /* left: 50%; */
        }
.linear1{
    display:none !important ;
}
     
.line { border-bottom: 1px solid red; position: absolute; top: 10px; width: 100%; z-index: -1; }
@media screen and (max-width: 900px) {
        #history{
          margin-top: 20px;
        }
        .dashboard{
          display: none;
        }
        #user_profile{
            display: none;  
        }
        /* #submit_button{
            width:50% !important;
        } */
        .icon{
            width: 20px !important;
        }
        /* .submit_button{
        text-align:center !important;
    } */

    }
    @media screen and (max-width:600px){
        .work{
        width:10px !important;
    }
    .second_card{
        display: block  !important;
    }
    .linear1{
    display:block !important ;
}
    .figure{
    display:block;
    width:50px;
    height: 50px;
    border-radius: 50px;
    font-size: 25px;
    text-align: center;
    /* margin-right: 10px; */
    background: #fff;
    line-height: 1.7em;
    }

    .figure img{
    display:inline-block;
    width: 30px;
    height: auto;
    margin-top: 15px;
    }
        #submit_button1{
        margin-left: 65px;
    }
    /* .row>*{
        width: fit-content !important;
    } */
    #history{
        width: fit-content !important;
    }
    #otpsubmit{
            width:300px !important;
        }
    #otp{
        width:200px !important; 
    }
    #check_status{
        margin-left: 100px !important;
        /* text-align: center; */
    }
    .data{
        width:100% !important;
        margin-top: 0%  !important;
        display:none !important;
    }
    .data1{
        background-image: linear-gradient(#00bbff, #035397);
        display: flex;
        width:100% !important;
        /* width:360px !important; */
        max-height: 100%;
        flex-direction: column;
        justify-content: space-between;
        /* margin-left: 30px !important; */
    }

    } 
    @media screen and (max-width:500px) {
    .work{
        width:10px !important;
    }
    .figure{
    display:block;
    width:50px;
    height: 50px;
    border-radius: 50px;
    font-size: 25px;
    text-align: center;
    /* margin-right: 10px; */
    background: #fff;
    line-height: 1.7em;
}
.linear1{
    display:block !important ;
}
.figure img{
   display:inline-block;
   width: 30px;
   height: auto;
   margin-top: 15px;
}
.write{
    width:220px !important;
}
    /* .icons{
        width:300px !important;
    } */
    /* .submits{
        text-align:center !important;
        margin-left: 100px !important;

    } */
    #submit_button1{
        margin-left: 65px;
    }
    .row>*{
        width: fit-content !important;
    }
    #otpsubmit{
            width:300px !important;
        }
    #otp{
        width:200px !important; 
    }
    #check_status{
        margin-left: 100px !important;
        /* text-align: center; */
    }
    .data1{
        background-image: linear-gradient(#00bbff, #035397);
        display: flex;
        width:100% !important;
        /* width:360px !important; */
        max-height: 100%;
        flex-direction: column;
        justify-content: space-between;
        /* margin-left: 30px !important; */
    }
    .required-field::after {
    content: "*";
    color: red;
    /* padding-left: 20px  !important; */
}
}
@media screen and (max-width:350px){
    .write{
            width:200px !important;
        } 
        .row>*{
                width: fit-content !important;
            }   
        #otpsubmit{
            width:250px !important;
        }
        #otp{
        width:150px !important; 
    }
    #submit_button1{
        margin-left: 50px;
    }
    .linear1{
    display:block !important ;
}
    .data1{
        background-image: linear-gradient(#00bbff, #035397);
    display: flex;
    width:100% !important;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    }
}
@media screen and (max-width: 280px){
    .write{
            width:100px !important;
        } 
        .row>*{
                width: fit-content !important;
            }   
        #otpsubmit{
            width:250px !important;
        }
        #otp{
        width:120px !important; 
    }
    #submit_button1{
        margin-left: 20px;
    }
    #check_status{
        margin-left: 50px !important;
        /* text-align: center; */
    }
}

    </style>
{% endblock content_css %}
{% block page_name %} 
<h3 style="color:#035397" id="user_profile">Profile</h3>
{% endblock page_name %}
{% block logout %}
<a href="{% url 'logout' %}" ><img src="/static/img/shutdown.png" height="40px" data-toggle="tooltip"
    data-placement="top" title="Logout" /></a>
{% endblock logout %}




{% block content %}      
<div class='row'>
    <div class='col-lg-9 col-md-8 col-sm-8 col-xs-12 col-xl-9'>
        <div class='row'>
            <div class=''>
                <div class='container mt-5 justify-content-center'>
                    <div class='card p-2 ms-3' style="border-radius: 10px;box-shadow: 5px 6px 6px 2px #e9ecef">
                        <div class='row '>
                            <div class='col-lg-6 col-sm-7 col-md-6 col-xs-12 col-xl-6 '>
                                <h3 class='ms-4 vertical-center'>You Status is</h3>
                            </div>
                            <div class='col-lg-6 col-sm-7 col-md-6 col-xs-12 col-xl-6'>
                                {% if status == "Not Checked" %}
                                <h2 class=' ms-4 vertical-center' style="color: brown;" >{{status}}</h2>
                                {% elif status == 'Partially Vaccinated' %}
                                <h2 class='ms-4 vertical-center' style="color: orange;">{{status}}</h2>
                                {% elif status == 'Fully Vaccinated' %}
                                <h2 class='ms-4 vertical-center' style="color: greenyellow;">{{status}}</h2>
                                {% else %}
                                <h2 class='ms-4 vertical-center' style="color: red;">{{status}}</h2>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class='linear1'>
            <div class='col-xs-12'>
                <div class='data1 mt-3 ' >
                    <div class='container css_big'>
                        <div class='row '>
                            <div class='col-md-5 col-lg-5 col-sm-5 col-xs-5 mt-3 col-xl-3' >
                                <figure>
                                    <img src="/static/img/form 1.png" alt="image">
                                    <div class = "vertical" style="margin-left: 30px;"></div>
                                  </figure>
                            </div>
                            <div class='col-md-7 col-lg-7 col-sm-7 col-xs-7 mt-3 col-xl-9' style="padding: 0% !important;">
                                <label class='fs-5 mt-1 write' style="  font-weight: 900; color:#fff">Ensure all the details are filled</label>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-5 col-lg-5 col-sm-5 col-xs-4 mt-4 col-xl-3' >
                                <figure>
                                    <img src="/static/img/submit 1.png" alt="image">
                                    <div class = "vertical" style="margin-left: 33px;"></div>
                                  </figure>
                            </div>
                            <div class='col-md-7 col-lg-7 col-sm-7 col-xs-7 mt-4 col-xl-8' style="padding: 0% !important;">
                                <label class='fs-5 mt-1 write' style="  font-weight: 900;color:#fff"><b>Submit the button</b></label>
                            </div>
        
                        </div>
                        <!-- <svg width="500" height="500"><line x1="50" y1="50" x2="350" y2="350" stroke="black"/></svg> -->
                        <div class='row'>
                            <div class='col-md-5 col-lg-5 col-sm-5 col-xs-4 mt-4 col-xl-3' >
                                <figure>
                                    <img src="/static/img/otp.png" alt="image">
                                    <div class = "vertical" style="margin-left: 33px;"></div>
                                  </figure>
                            </div>
                            <div class='col-md-7 col-lg-7 col-sm-7 col-xs-7 mt-4 col-xl-8' style="padding: 0% !important;">
                                <label class='fs-5 mt-1' style="  font-weight: 900;color:#fff"><b>Enter the otp</b></label>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-5 col-lg-5 col-sm-5 col-xs-4 mt-4 col-xl-3' >
                                <figure>
                                    <img src="/static/img/form 1.png" alt="image">
                                  </figure>
                            </div>
                            <div class='col-md-7 col-lg-7 col-sm-7 col-xs-7 mt-4 col-xl-8' style="padding: 0% !important;">
                                <label class='fs-5 mt-1 write' style="  font-weight: 900;color:#fff"><b>Check the vaccination status</b></label>
                            </div>
                        </div>
                        </div>
                        </div>
            </div>
        </div>
        
        <div class='row'>
            <div class='container'>
                <div class='container mt-5 justify-content-center'>
                    <div class='card p-4  ' style="    box-shadow: 5px 6px 6px 2px #e9ecef;border-radius: 10px;">
                        <h2 class='text-center'>Form</h2>
                        <div class='container text-center mt-5' >
                            <form method="POST" action="{% url 'user_profile'%}" id="change_form">
                                {% csrf_token %}
                                <div class='row'>
                                    <div class='col-lg-3 col-sm-5 col-md-5 col-xs-12 col-xl-3'>
                                        <label class='required-field'>Name</label>
                                    </div>
                                    <div class='col-lg-6 col-sm-6 col-md-6 col-xs-12 col-xl-5'>
                                        <input type='text' class='form-control' name='user_name' id='user_name' value='{{name}}' disabled>
                                    </div>
                                </div>
                                <div class='row mt-4'>
                                    <div class='col-lg-3 col-sm-5 col-md-5 col-xs-12 col-xl-3'>
                                        <label class='required-field'>Emp Code</label>
                                    </div>
                                    <div class='col-lg-6 col-sm-6 col-md-6 col-xs-12 col-xl-5'>
                                        <input type='text' class='form-control' name='emp_code' id='emp_code' value='{{emp_code}}' disabled>
                                    </div>
                                </div>
                            
                            <div class='row mt-4'>
                                <div class='col-lg-3 col-sm-5 col-md-5 col-xs-3 col-xl-3'>
                                    <label class='required-field' >Department</label>
                                </div>
                                <div class='col-lg-6 col-sm-6 col-md-6 col-xs-6 col-xl-5'>
                                    <input type='text' class='form-control'  name="department" id='department' value='{{department}}' disabled>
                                </div>
                            </div>
                            <div class='row mt-4'>
                                <div class='col-lg-3 col-sm-5 col-md-5 col-xs-3 col-xl-3'>
                                    <label class='required-field'>Branch</label>
                                </div>
                                <div class='col-lg-6 col-sm-6 col-md-6 col-xs-6 col-xl-5'>
                                    <input type='text' class='form-control' name="branch" id='branch' value='{{branch}}' disabled>
                                </div>
                            </div>
                            <div class='row mt-4'>
                                <div class='col-lg-3 col-sm-5 col-md-5 col-xs-3 col-xl-3'>
                                    <label class='required-field'>Beneficiary Id</label>
                                </div>
                                <div class='col-lg-6 col-sm-6 col-md-6 col-xs-6 col-xl-5'>
                                    <input type='text' class='form-control' name="beneficiary" id='beneficiary' value='{{beneficiary}}' required>
                                </div>
                            </div>
                            <div class='row mt-4'>
                                <div class='col-lg-3 col-sm-5 col-md-5 col-xs-3 col-xl-3'>
                                    <label class='required-field'>Mobile Number</label>
                                </div>
                                <div class='col-lg-6 col-sm-6 col-md-6 col-xs-6 col-xl-5'>
                                    <input type='text' class='form-control' name="mobile_number" id='mobile_number' value='{{phone}}' required>
                                </div>
                            </div>
                            <div class='row mt-5 d-flex'>
                                <div class='d-flex justify-content-center' id="submits">
                                    <button class='btn btn-lg ' type='submit'  id="submit_button1" style="background-image: linear-gradient(#00bbff, #035397); color:#ffffff;">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class='col-lg-3 col-md-4 col-sm-4 col-xs-12 col-xl-3' id='history'>
        <div class='data' >
            <div class='container css_big'>
                <div class='row '>
                    <div class='col-md-5 col-lg-5 col-sm-5 col-xs-5 mt-3 col-xl-3' >
                        <figure>
                            <img src="/static/img/form 1.png" alt="image">
                            <div class = "vertical" style="margin-left: 30px;"></div>
                          </figure>
                    </div>
                    <div class='col-md-7 col-lg-7 col-sm-7 col-xs-7 mt-3 col-xl-9' style="padding: 0% !important;">
                        <label class='fs-5 mt-1 write' style="  font-weight: 900; color:#fff">Ensure all the details are filled</label>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-5 col-lg-5 col-sm-5 col-xs-4 mt-4 col-xl-3' >
                        <figure>
                            <img src="/static/img/submit 1.png" alt="image">
                            <div class = "vertical" style="margin-left: 33px;"></div>
                          </figure>
                    </div>
                    <div class='col-md-7 col-lg-7 col-sm-7 col-xs-7 mt-4 col-xl-8' style="padding: 0% !important;">
                        <label class='fs-5 mt-1 write' style="  font-weight: 900;color:#fff"><b>Submit the button</b></label>
                    </div>

                </div>
                <!-- <svg width="500" height="500"><line x1="50" y1="50" x2="350" y2="350" stroke="black"/></svg> -->
                <div class='row'>
                    <div class='col-md-5 col-lg-5 col-sm-5 col-xs-4 mt-4 col-xl-3' >
                        <figure>
                            <img src="/static/img/otp.png" alt="image">
                            <div class = "vertical" style="margin-left: 33px;"></div>
                          </figure>
                    </div>
                    <div class='col-md-7 col-lg-7 col-sm-7 col-xs-7 mt-4 col-xl-8' style="padding: 0% !important;">
                        <label class='fs-5 mt-1' style="  font-weight: 900;color:#fff"><b>Enter the otp</b></label>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-5 col-lg-5 col-sm-5 col-xs-4 mt-4 col-xl-3' >
                        <figure>
                            <img src="/static/img/form 1.png" alt="image">
                          </figure>
                    </div>
                    <div class='col-md-7 col-lg-7 col-sm-7 col-xs-7 mt-4 col-xl-8' style="padding: 0% !important;">
                        <label class='fs-5 mt-1 write' style="  font-weight: 900;color:#fff"><b>Check the vaccination status</b></label>
                    </div>
                </div>
                <div class='mt-5'>
                    <div class='card css css_right' style="background-color: #035397;box-shadow: 5px 6px 6px 2px;border-radius: 10px;">
                        <form method="post" action="{% url 'confirmotp'%}">
                            {% csrf_token %}
                            <div class='row'>
                                <h4 style="color:#fff" class='text-center mt-4' id='check_status'><b>Check Status</b></h4>
                            </div>
                            <div class='row mt-4'>
                                <div class='col-lg-5 col-md-3 col-sm-5 col-xs-12 col-xl-3'>
                                    <label class='text-center ms-2 mt-2 required-field' style="color:#fff"><b></b> OTP</label>
                                </div>
                                <div class='col-lg-6 col-md-8 col-sm-6 col-xs-12 col-xl-7'>
                                    <input id="otp" type="text" class="form-control" name="otp"  maxlength="8" size="8" required autofocus>
                                </div>
                            </div>
                            <div class='row p-4 mt-3 mb-4'>
                                <input type="submit" class='btn btn-light' id="otpsubmit">
                            </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>   
        </div>
    </div>
    <div class='card css css_right second_card m-3' style="background-color: #035397;box-shadow: 5px 6px 6px 2px;border-radius: 10px;">
        <form method="post" action="{% url 'confirmotp'%}">
            {% csrf_token %}
            <div class='row'>
                <h4 style="color:#fff" class='text-center mt-4' id='check_status'><b>Check Status</b></h4>
            </div>
            <div class='row mt-4'>
                <div class='col-lg-5 col-md-3 col-sm-5 col-xs-12 col-xl-3'>
                    <label class='text-center ms-3 mt-2 required-field' style="color:#fff"><b></b> OTP</label>
                </div>
                <div class='col-lg-6 col-md-8 col-sm-6 col-xs-12 col-xl-7'>
                    <input id="otp" type="text" class="form-control" name="otp"  maxlength="8" size="8" required autofocus>
                </div>
            </div>
            <div class='row p-4 mt-3 mb-4'>
                <input type="submit" class='btn btn-light' id="otpsubmit">
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}


{% block content_js %}
<script>
{% for message in messages %}

  window.onload = function(){
    alert('{{message}}')
  }
{% endfor %}


$('#submit_button1').click(function(){
    name = $('#user_name').val();
  emp_code = $('#emp_code').val();
  department = $('#department').val();
  branch = $('#branch').val();
  beneficiary = $('#beneficiary').val();
  mobile_number = $('#mobile_number').val();
  console.log(name,emp_code,department,branch,beneficiary)
  console.log('beneficiary',  beneficiary  )
//   alert(name,emp_code,department,branch,beneficiary)

    //   alert('working')
//     if(name == null && emp_code == null && department == null && branch == null && beneficiary != null  && mobile_number == null){
//       alert('Please fill in the required details')
//       return false;
//   }
// if(name != null){
//     alert('working')
// }
  })




</script>
{% endblock content_js %}
